<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-PAW NEW PET</title>
</head>

<body>
    <header>
    <h1 class="edit_text">New pet</h1>

    <%= render "form", pet: @pet %>

    <div class="back_btn">
      <%= link_to image_tag("back-button.png", alt: "Back",style: "width: 50px; height: 50px;"), pets_path %>
    </div>

    </header>
</body>
</html>



