<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E-PAW MAIN PAGE</title>
    <link rel="stylesheet" href="mainpage.css">
</head>

<body>
    <header>
        <div class="container">
            <%= image_tag("epaw-logo.png", class: "logoimg",
            style:"max-width: 539px;
            max-height: 425px;
            position: fixed; left: 500px; top: 150px;") %>

            <h1>Hands for Paws
            <%= image_tag("pawpng.png", class: "pawimg", 
            style: "max-width: 50px; max-height: auto; background-color: #FFF6F1;") %>

            </h1>
            <div class="welcome-text">Hi. E-Paw invites you to be a hero for all paws, owned and stray, making their lives easier and more
                joyful, one paw at a time.</div>
        </div>
        <div class="circle-l"></div>
    </header>
</body>

</html>