<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-PAW SHOW DONATIONS</title>
    <link rel="stylesheet" href="appointment.css">
</head>

<body>
    <header>
    <%= render @donation %>

  <div class="back_btn">
      <%= link_to image_tag("back-button.png", alt: "Back",style: "width: 50px; height: 50px;"), donations_path %>
  </div>
  <div class="delete_donation_button">
  <%= button_to "Delete this donation", @donation, method: :delete %>
  </div>

</header>
</body>
</html>
