<div id="<%= dom_id health_record %>">



  <p>
    <strong>Health treatments:</strong>
    <%= health_record.health_treatments %>
  </p>

  <p>
    <strong>Health notes:</strong>
    <%= health_record.health_notes %>
  </p>
  <p>
  <strong>Vet Name:</strong>
  <%= health_record.vet.first_name %>
</p>

</div>
