/*user ve vet in edit ve registration sayfalarının css'i*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FFF6F1;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text-uppercase {
    text-transform: uppercase;
}

header {
    background-color: #FFF6F1;
    height: 1000px;
    text-align: center;
    padding-top: calc(106px + 4rem);
}

/*TITLE*/
#logo-box {
    float: left;
    padding-top: 0.5rem;
}

#logo-box .logo {
    color: #000000;
    font-weight: 700;
    font-size: 48px;
}

/*HEADER PART*/

.createanaccount {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translateX(-50%);
}
#inputvalues1,
#inputvalues2,
#inputvalues1user_vet,
#inputvalues2user_vet {
    display: flex;
    flex-direction: column;
    gap:50px;
}

#inputvalues1{
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translateX(-50%);
}
#inputvalues1user_vet{
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translateX(-50%);
    margin-top: 33px;
}

#inputvalues2,
#inputvalues2user_vet{
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translateX(-50%);
}

#inputvalues1 input,
#inputvalues2 input,
#inputvalues1user_vet input,
#inputvalues2user_vet input {
    width: 300px;
    height: 50px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 30px;
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
    box-shadow: 2px 2px 2px #656464;
}

.phonenumforaccountuser{
    margin-top: 28px;
}

.emailforaccountedit{
    margin-top: 0px;
}
.birthdate_text{
    font-size: 15px;
    margin-bottom: -40px;
}
.text{
    font-size: 15px;
    margin-bottom: -70px;
}

#inputvalues1 select, 
#inputvalues2 select,
#inputvalues1user_vet select,
#inputvalues2user_vet select{
    width: 100px;
    height: 50px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 30px;
    text-align: left;
    padding-left: 10px;
    font-size: 13px;
    box-shadow: 2px 2px 2px #656464;
}
.unhappy{
    position: fixed;
    top: 25%;
    left: 120%;
    transform: translateX(-50%);
    width: 150px;
    height: 20px;
    font-size: 15px;
    background-color: #FFF6F1;
    border: none;
}

/*RESPONSIVE*/
@media screen and (max-width: 768px) {
    header {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .createanaccount {
        font-size: 20px;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    #inputvalues1,
    #inputvalues2,
    #inputvalues1user_vet,
    #inputvalues2user_vet {
        width: 90%;
        max-width: none;
        height: 40px;
        left: 50%;
        transform: translateX(-50%);
        top: 90%;
        display: flex;
        flex-direction: column;
        gap: 70px;
        position: absolute;
    }

    #inputvalues1,
    #inputvalues1user_vet {
        top: 25%;
    }

    #inputvalues2,
    #inputvalues2user_vet{
        top: 60%;
    }

    .submitbutton {
        width: 90%;
        max-width: none;
        left: 50%;
        top: 90%;
        transform: translateX(-50%);
        bottom: 10px;
    }
}
