<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-PAW APPOINTMENT</title>

</head>

<body>
    <header>
    <div class="container">
    <%= render "form", appointment: @appointment %>

    <h1 class="edit_text">New appointment</h1>
    
    <div class="back_btn">
          <%= link_to image_tag("back-button.png", alt: "Back",style: "width: 50px; height: 50px;"), appointments_path %>
    </div>
</div>
</header>
</body>
</html>

